[Desktop Entry]
Type=Application
Version=1.0
Name=Geminux Virtual Machine
GenericName=Virtual Machine Manager
GenericName[pt_BR]=Gerenciador de Máquinas Virtuais
Comment=Crie e execute máquinas virtuais Windows, Linux e macOS com motores Hyper-V, VirtualBox e VMware
Comment[en]=Create and run Windows, Linux, and macOS virtual machines with Hyper-V, VirtualBox, and VMware engines
Exec=geminux-vm
Icon=geminux-vm
Terminal=false
Categories=System;Emulator;
Keywords=vm;virtual;machine;qemu;kvm;windows;linux;macos;virtualbox;vmware;hyperv;emulator;
StartupNotify=true
StartupWMClass=Geminux Virtual Machine
