[Desktop Entry]
Type=Application
Version=1.0
Name=VMware Workstation
GenericName=Virtual Machine Manager
Comment=Run virtual machines on Geminux OS
Exec=/usr/local/bin/vmware-launcher
Icon=vmware
Terminal=false
Categories=System;Emulator;Development;
StartupNotify=true
